h1 {
    text-align: center;
    text-transform: uppercase;
}
body {
    background-color: rgba(189, 86, 45, 0.685);
    
}
ol {
    background-color: white;
    list-style-type: none;
    text-align: center;
    border-radius: 5px;
}
ul {
    list-style-type: none;
    color: purple;
}